/node_modules
npm-debug.log

# type script artifacts
/typings

# ignore inline compiling
/demo/**/*.js
/demo/**/*.js.map
/demo/**/*.d.ts
/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts
index.js
index.d.ts
index.js.map
/logs